footer {
    position: relative;
    z-index: 1;
    display: flex;
    width: 300%;
    padding-top: 100px;
    padding-bottom: 0;
    flex-wrap: wrap;
}

.logotipo{
    width: 130px;
    height: auto;
    max-width: none;
    margin-right: 100px;
    margin-left: 100px;
}

.icons{
    display: flex;
    margin-top: 20px;
    margin-right: -3px;
    margin-left: -3px;
    justify-content: center;
    align-items: center;
}

.social-icon-small {
    width: 15px;
    }


.social-link-small {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 5px solid #e1e6ee;
    border-radius: 10px;
    transition: border-color .2s;
}

.footer-v1-column {
    display: flex;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-v1-link {
    padding-top: 4px;
    padding-bottom: 4px;
    transition: color .2s;
    color: #7a8292;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}